.offer-text {
    font-size: 14px;
    padding: 16px;
    margin: 0;
    max-width: 420px;
  }
  
  .offer {
    padding: 0 16px 16px 16px;
  
    .offer-link {
      text-decoration: none;
      color: $text;
      font-size: 16px;
      cursor: pointer;
      font-style: bold;
    }
  
    .offer-image {
      vertical-align: middle;
    }
  }