.sidebar {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  font-family: 'tt_lakes';
  font-size: 16px;
}

.sidebar__menu {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 320px;
  height: 100vh;
  background-color: $bColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: 1s;
  overflow: scroll;

  .sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 0 24px;
    margin: 0;

    & li {
      list-style: none;

      .sidebar__header-right {
        margin-left: 70px;
      }
    }
  }

  .sidebar__menu-list {
    padding: 0;

    & > li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 50%;
      margin: 32px 24px 0 24px;
      list-style: none;
      padding: 0;
    }

    & a {
      text-decoration: none;
      color: $text;
      position: relative;
      display: block;
    }

    & li > a:hover::before {
      content: '';
      border: 4px solid $bgLine;
      border-radius: 25%;
      position: absolute;
      left: -28px;
      height: 15px;
    }

    & li > a:hover {
      transition-duration: 0.5s;
      color: $textSheer;
    }
  }

  .sidebar__menu-footer {
    padding: 24px 24px 32px 24px;
    margin: auto 0 0 0;

    .sidebar__menu-footer-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;

      & button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      & > li {
        padding-right: 16px;
        list-style: none;
      }
    }

    .sidebar__menu-contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      a[href^='mailto:'] {
        text-decoration: none;
        color: $text;
        padding: 0 16px 16px 0;
      }

      a[href^='tel:'] {
        text-decoration: none;
        color: $text;
        padding: 0 16px 40px 0;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .sidebar__menu-language {
      display: flex;
      justify-content: start;
      padding: 0px;
      list-style: none;

      & > li > a {
        color: $text;
        list-style: none;
        font-size: 16px;
        text-decoration: none;
        padding-right: 7px;
      }

      & > li > a:hover {
        transition-duration: 0.5s;
        color: $textSheer;
      }
    }
  }
}

@media (min-width: 1119px) {
  .sidebar__menu {
    box-shadow: none;
    transform: translateX(0%);

    & .button-close {
      display: none;
    }

    & .sidebar-logo {
      position: absolute;
      top: 20px;
      left: 30px;
    }
  }

  .main-content {
    position: absolute;
    left: 320px;
  }
}

.main-content {
  max-width: -webkit-fill-available;
  transition: 1s;
}

@media (max-width: 1119px) {
  .sidebar-active {
    transform: translateX(0%);
    box-shadow: 0 0 20px 7px $boxShadow;
  }

  .main-active {
    position: absolute;
    transform: translateX(320px);
    transition: 1s;
    opacity: 0.3;
    filter: blur(6px);
  }
}
