$text: #1b1c21;
$textSheer: #7e7e82;
$buttonBg: #ff3e79;
$dividingLine: #eaeaea;
$headerBrBottom: #D9FFF5;
$menuBorder:#B8FFEC;
$bgLine:#41F6D7;
$boxShadow: #a2a6b1;
$bColor: #FFF;
$swiperColor: #f2f2f2;
$swiperBuller: #B5B6BC;
$info: #f8f8f8;