$text: #1b1c21;
$textSheer: #7e7e82;
$buttonBg: #ff3e79;
$dividingLine: #eaeaea;
$headerBrBottom: #d9fff5;
$menuBorder: #b8ffec;
$bgLine: #41f6d7;
$boxShadow: #a2a6b1;
$bColor: #fff;
$swiperColor: #f2f2f2;
$swiperBuller: #b5b6bc;
$info: #f8f8f8;
